body {
  background-color: #F4F4F4;
  font-family: 'gilroy-light', sans-serif;
  margin: 10%;
  padding: 20%;
  text-align:center;
}

a {
  color:#1A1A1A;
  font-weight:bold;
}

.component{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  /*width: 1;*/
  gap: 10px;
height: fit-content;
flex-shrink: 10;
border-radius: 0px 0px 46px 46px;
background: #F4F4F4;
box-shadow: 0px  6px 3px rgba(0, 0, 0, 0.20);
margin-top: 0 -10px;
min-height: 2vw;
overflow: hidden;
padding: 20px;
margin-bottom: 25px;
text-align:center;
}

.component img {
  position:absolute;
  z-index: 0;
 max-width: 100%;
}

.component div {
max-width: 592px;
}

header a:visited {
  color: white;
}

.component .img-container {
  margin-top: 40px;
margin-right: 300px;
margin-bottom: 150px;
transform: scale (0.8);
}

.component-small {
  margin: 10px;
  width: 265px;
  height: 245px;
  padding: 20px;
  font-size: 24px;
font-family: Gilroy-ExtraBold;
font-style: normal;
font-weight: 400;
line-height: 130%;
border-radius: 31px;
background: #F4F4F4;
box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.20);
}



.component-small img {
  display:inline;
  max-width: 150px;
  max-height: 150px;
}

.component-small a{

  margin-left:10px;
 }

.component-small h2{

 margin-bottom:-24px;
}

.component-small p{
  font-size: medium; margin-bottom: -4px
}
.shop-box{
  display:flex;
  flex-direction: row;
  overflow-wrap: normal;
  justify-content: space-between;
}

/* To make the underline go more down*/
u {
  text-underline-offset: 10px;
}

.shop-scroll-mob{
  display:flex;
  max-width:fit-content;
  overflow: scroll;
  white-space: nowrap;
}
.shop-scroll-desk{
  white-space: nowrap;
  display:flex;
  overflow:scroll;
  flex-direction: row;
  max-width: max-content;
  overflow-wrap: normal;
  justify-content: space-between;
  margin-bottom: 30px;
}

.shop-scroll-desk h2{
  flex-direction: row;
  overflow-wrap: normal;
}

.component p{
  padding-right: -15px;
  }
  
.component a {
  display:inline-block;
  align-content: left;
}

.component h2 {
  font-size: 24px;
  font-family: Gilroy-ExtraBold;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h2 {
  font-size: 24px;
  font-family: Gilroy-ExtraBold;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: center;

}

p {
  padding-left: 20px;
  padding-right: 20px;
text-align: center;
  font-family: 'gilroy-light', sans-serif;
}



.emphasis {
  font-family: 'gilroy-black', sans-serif;
}


header {
  font-family: 'gilroy-light', sans-serif;
  background-color: #f4f4f4;
  color: #1A1A1A;
  padding: 20px;
  text-align: center;
}

nav {
  font-family: 'gilroy-light', sans-serif;
  background-color: #f2f2f2;
  color: #1A1A1A;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-family: 'gilroy-light', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 40px;
  left: 0;
  bottom: 0;
  background-color:#1A1A1A;;
  color: white;
  text-align:center;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

footer img{
  /*vertical-align: text-top;*/
}

footer ul {
  font-family: 'gilroy-light', sans-serif;
  list-style-type: none;
}

footer a {
  font-family: 'gilroy-light', sans-serif;
  list-style-type: none;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-top:5px;
  margin-bottom:5px;
}

footer a:visited {
  font-family: 'gilroy-light', sans-serif;
  list-style-type: none;
  color:#F4F4F4
}

.footer-menu {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
}

.footer-image{
  padding: 10px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.footer-image img{
  display: flex;

}
.footer-container{
  width: 300px;
  display:flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #F4F4F4;
  color: #1A1A1A;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #1A1A1A;
  
}

.submit {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
  padding-right:40px;
  font-family: 'gilroy-light', sans-serif;
  background-color: #1A1A1A;
  color: #F4F4F4;
  border-radius: 25px;
border: 2px solid #1A1A1A;
background: #1A1A1A;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-1 {
  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
  padding-right:40px;
  font-family: 'gilroy-light', sans-serif;
  background-color: #1A1A1A;
  color: #F4F4F4;
  border-radius: 25px;
border: 2px solid #1A1A1A;
background: #1A1A1A;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-2 {
  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
  padding-right:40px;
  border-radius: 25px;
  border: 2px solid #1A1A1A;
  background: #F4F4F4;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.20);
  color: #1A1A1A;
  text-align: center;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  }

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  color: #1A1A1A;
  
}


.burger div {
  width: 100%;
  height: 3px;
  background-color: #1A1A1A;
  color: #1A1A1A;
  
}

nav {
  background-color: #f2f2f2;
  color: #fff;
  padding: 10px;
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

nav ul li {
  margin-bottom: 10px;
 
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav #menu {
color: black;
}

.menu-active {
 
  display: flex;
  float: left;
  flex-direction: row-reverse;
  position: absolute;
  transform: translate(0px,0px);
  align-content: right;
width: 95%;
height: 100px;
background: #1A1A1A;
border: 5px solid #1A1A1A;
}

.shoptext {
  visibility: hidden;
  background-color: #F4F4F4;
  box-shadow: 0px  6px 3px rgba(0, 0, 0, 0.20);
  color:#1A1A1A
}

.menu-active ul {
  max-width:fit-content;
  overflow: scroll;
  white-space: nowrap;

}
.menu-active li {
  width: 95%;
  display: inline;
  margin-right: -20px;
  text-size-adjust: 10px;
  text-align: center;
  /*padding: 40%;*/
}
.menu-active a {
  color:#F4F4F4;
  font-size: 2.5vh;
  font-weight: 500;
  font-family:'Gilroy-bold', Tahoma, Geneva, Verdana, sans-serif
  
}

.header-large a{
  float: left;
  background-color: #F4F4F4;
  color: #1A1A1A;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 20px;
}

.header-large a:visited{
  float: left;
  background-color: #F4F4F4;
  color: #1A1A1A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media (min-width: 767px) { 
  
  .heading {
    display:none;
  }
  .burger {
    display:none;
  }
  .shop-scroll-mob{
    display:none;
  }
  .footer-extra p {
    margin-top: 100px;
    
  }

.footer-image{
  align-self:center;
}

  .img-container{
    display: none;
  }
.logo img{
  margin-left: 100px;
}
.header-large{
  margin-right: 100px;
}

.button-1{
  /*margin-left: -240px;*/
}

.button-2{
 margin-left: -440px;
 transform: translate(-300,0);
 margin-bottom: 200px;
}

.component p{
  text-align: left;
  font-size: 20px;
  margin-left: 65px;
}
.default {
  font-size: 20px;
  margin-left: -80px;
  text-align: left;
}  

.desktop-image{
  margin-top: 40px;
}

.modal-content .button-1{
  margin-left: 0px;
}

.shop-scroll-desk{
  margin-left: 60px;
}

.component h2{
  text-align: left;
  margin-left: 85px;
}
  .default {
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
  }

  
}



@media (max-width: 767px) { 
  .header-large{
      display:none;
  }
  .shop-scroll-desk{
    overflow: scroll;
  white-space: nowrap;
  }

.superfluous{
  display:none;
}

  .desktop-image {
    display:none;
  }

  iframe {
    width: 360px;
    height: 200px;
  }
  
.img-container{
  margin-top:40px;
}

  .modal-content{
    margin-left: 10%;
    margin-right: 10%;
  }
}



.component .button-1 {
  /*margin-left: 8px;*/
}

.container {
  display: inline-block;
  max-width: 400px;
  align-content: center;
}

.form-group {
  font-family: 'gilroy-bold', sans-serif;
  margin-bottom: 20px;
  align-self: center;
}

.form-group a{
  
  align-content: center;
}

.link a{
  text-decoration: underline;
  color:#1A1A1A;
}

.link a:visited{
  text-decoration: none;
  color: #1A1A1A;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  border-radius: 18px;
  background: #E3E3E3;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-group button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}

.footer-heading {
  text-transform: uppercase;
  font-family: 'gilroy-bold', sans-serif;
}
.footer-extra {
  justify-content: center;
  display:flex;
  font-family: 'gilroy-bold', sans-serif;
  margin-bottom: 20px;
  
}
.footer-extra p {
  margin-top: -1px;
  align-content:normal;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  align-self: center;
  background-color: #f4f4f4;
  padding: 1rem 2rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.btn-close {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #1A1A1A;
  color: #f4f4f4
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger {
  /*margin-right: 10px;*/
  /*align-self: center;*/
  padding-top:5px;
  padding-bottom:5px;
  padding-left:40px;
  padding-right:40px;
  font-family: 'gilroy-light', sans-serif;
  background-color: #1A1A1A;
  color: #F4F4F4;
  border-radius: 25px;
border: 2px solid #1A1A1A;
background: #1A1A1A;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}